@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 11px;
    color: black;
}