<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"/>
<head>
    <link rel="stylesheet" href="/static/css/product.css">
</head>
<body>
<div id="container">
    <header th:replace="/fragments/header :: header"/>
    <main id="main">
        <nav th:replace="/fragments/nav :: nav"/>
        <div id="warp">
            <div class="contents">
                <div class="dtl-con">
                    <div class="img">
                        <img src="/static/images/product1.png">
                    </div>
                    <div class="info">
                        <div>
                            <p class="p-name">코지 린넷 셋업 자켓 / 3 컬러</p>
                            <div class="simple-info">
                                comment<br>
                                -린넨 소재<br>
                                -오버사이즈 자켓<br>
                                -반바지 / 와이드 팬츠와 셋업 구성<br>
                                -높은 퀄리티<br>
                                <br>
                                color<br>
                                블랙 / 오트밀 / 카키브라운<br>
                                <br>
                                size<br>
                                M - 총장 73 가슴 61 어깨 48 팔길이 64<br>
                                L - 총장 74 가슴 63 어깨 49 팔길이 65<br>
                                <br>
                                fabric<br>
                                린넨<br>
                                <br>
                                model size<br>
                                178 cm / 62 kg (M 사이즈 착용)<br>
                                <br>
                                *모든 상품의 세탁은 드라이 클리닝을 권장합니다<br>
                                *사이즈는 재는 방법에 따라 2~3cm 이내에 오차가 있을 수 있습니다.<br>
                                *모니터의 해상도에 따라 다소 색상 차이가 발생할 수 있습니다.
                                <br>
                            </div>
                        </div>
                        <table>
                            <tr>
                                <th class="p-price">판매가</th>
                                <td>data</td>
                            </tr>
                            <tr>
                                <th>the number</th>
                                <td>
                                    <input type="number" value="1">
                                </td>
                            </tr>
                            <tr>
                                <th>COLOR</th>
                                <td>
                                    <select name="색상" class="color-box">
                                        <option value="" selected>- [필수] 옵션을 선택해 주세요 -</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>SIZE</th>
                                <td>
                                    <select name="사이즈">
                                        <option value="" selected>- [필수] 옵션을 선택해 주세요 -</option>
                                        <option value="S">S</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div class="total-price">
                            <strong>총 상품 금액</strong>
                            "수량 : "
                            <span class="total">
                                <strong>
                                    <em>0원</em>
                                </strong> (0개)
                            </span>
                        </div>
                        <div class="btn-box">
                            <button class="btn-b" onclick="location.href= '/order'">BUY</button>
                            <button>CART</button>
                            <button>WISH</button>
                        </div>                   
        </div>
                    </div>
                </div>
                <div class="dtl-info">
                    <div class="menu">
                        <ul class="menu-list">
                            <li><a href="#">DETAIL INFO</a></li>
                            <li><a href="#">CHICK IT</a></li>
                            <li><a href="#">REVIEW</a></li>
                            <li><a href="#">Q & A</a></li>
                            <li><a href="#">관련상품</a></li>
                        </ul>
                    </div>
                    <div class="content-imgs">
                        <div class="content-img">
                            <img src="/static/images/product1.png">
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <script src="/static/js/product/product.js"></script>
</body>
</html>