<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"/>
<head>
  <link rel="stylesheet" href="/static/css/myShopIndex.css">
</head>
<body>
<div id="container">
  <header th:replace="/fragments/header :: header"/>
  <main id="main">
  <nav th:replace="/fragments/nav :: nav"/>
    <div id="contents">
      <div class="title-area">
        <div class="myShop-subtitle">MYSHOP</div>
      </div>
      <div class="order-state">
        <div class="title">
          <h3>나의 주문처리 현황 <span class="desc">(최근 <em>3개월</em> 기준)</span></h3>

        </div>
        <div class="state">
          <ul class="order">
            <li>
              <strong>입금전</strong>
              <a href="#" class="count">0</a>
            </li>
            <li>
              <strong>배송준비중</strong>
              <a href="#" class="count">0</a>
            </li>
            <li>
              <strong>배송중</strong>
              <a href="#" class="count">0</a>
            </li>
            <li>
              <strong>배송완료</strong>
              <a href="#" class="count">0</a>
            </li>
          </ul>
          <ul class="cs">
            <li>
              <span class="icoDot">
                <strong>취소 : </strong>
                <a href="#" class="count">0</a>
              </span>
            </li>
            <li>
              <span class="icoDot">
                <strong>교환 : </strong>
                <a href="#" class="count">0</a>
              </span>
            </li>
            <li>
              <span class="icoDot">
                <strong>반품 : </strong>
                <a href="#" class="count">0</a>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</div>
</body>
</html>