<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컨테이너마켓</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/order.css">
    
</head>
<body>
    <div id="container">
        <header id="header">
            <div class="header-top">
                <div class="logo">
                    <a href="#"><img src="/static/images/site_logo.jpg" alt="logo" srcset=""></a>
                </div>
                <div class="customer-menu">
                    <ul>
                        <li><a href="#">LOGIN</a></li>
                        <li><a href="#">JOIN</a></li>
                        <li><a href="#">CART - 0</a></li>
                        <li><a href="#">ORDER</a></li>
                        <li><a href="#">MYSHOP</a></li>
                        <li class="search"><a href="#"><i class="fa-solid fa-search"></i></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main id="main">
            <nav class="side_bar">
                <div class="order">
                    <div class="title">나의 주문 처리 현황</div>
                    <div class="state"></div>
                </div>
                <div class="nav-01">
                    <ul>
                        <li><a href="#">NEW 5%</a></li>
                        <li><a href="#">SET UP</a></li>
                        <li><a href="#">OUTER</a></li>
                        <li><a href="#">TOP</a></li>
                        <li><a href="#">SHIRT</a></li>
                        <li><a href="#">BOTTOMS</a></li>
                        <li><a href="#">SHOES</a></li>
                        <li><a href="#">ACC</a></li>
                    </ul>
                </div>
                <div class="nav-02">
                    <ul>
                        <li><a href="#">NOTICE</a></li>
                        <li><a href="#">Q & A</a></li>
                        <li><a href="#">REVIEW</a></li>
                    </ul>
                </div>
                <div class="sns-btn">
                    <ul>
                        <li><a href="https://instagram.com/connmk" target="_blank"><i class="fa-brands fa-instagram"></i><span>INSTAGRAM</span></a></li>
                        <li><a href="https://www.facebook.com/containermarket.co.kr" target="_blank"><i class="fa-brands fa-facebook-f"></i><span>FACEBOOK</span></a></li>
                    </ul>
                </div>
                <div class="kakao_btn"><a href="#none" onclick="popWin=window.open('https://pf.kakao.com/_UnGss','windows','width=600,height=670,scrollbars=yes'); popWin.focus(); return false;" class="kakao"><img src="/static/images/kakao_btn.png"></a></div>
                
                
                
            </nav>
            
        </main>
        
        

    </div>
</body>
</html>