<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head th:replace="/fragments/head :: head" />
<head>
  <link rel="stylesheet" href="/static/css/admin/admin.css">
</head>
<body>
<div id="container">
  <header th:replace="/fragments/header :: header"/>
  <main>
    <nav th:replace="/fragments/nav :: nav"/>
    <div class="admin">
      <h1 class="admin-title">ADMIN PRODUCT REGISTRATION</h1>
      <div class="admin-container">
        <aside class="admin-menus">
          <ul>
            <li><a href="/admin/products">상품 조회</a></li>
            <li><a href="/admin/product/addition">상품 등록</a></li>
            <li><a href="/admin/systems">시스템 정보</a></li>
            <li><a href="/logout">로그아웃</a></li>
          </ul>
        </aside>
        <section class="admin-main">
          <div class="regist-header">
            <select class="product-inputs">
              <option value="none">상품 종류</option>
              <option value="TEES">TEES</option>
              <option value="DENIM">DENIM</option>
            </select>
            <input type="text" class="product-inputs" placeholder="상품명">
            <input type="text" class="product-inputs" placeholder="가격">
          </div>
          <div class="regist-info regist-info-invisible">
            <textarea name="product-inputs" placeholder="간단 설명"></textarea>
            <textarea name="product-inputs" placeholder="상세 설명"></textarea>
            <textarea name="product-inputs" placeholder="추가 설명"></textarea>
            <textarea name="product-inputs" placeholder="관리 성명"></textarea>
            <textarea name="product-inputs" placeholder="배송 설명"></textarea>
          </div>
          <button type="button" class="btn regist-button">등록하기</button>
        </section>
      </div>
    </div>
  </main>
</div>
<script src="/static/js/admin/productRegistration.js"></script>
</body>
</html>