<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head" />
<head>
  <link rel="stylesheet" href="/static/css/admin/main.css">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/admin/aside.css">
  <link rel="stylesheet" href="/static/css/admin/register.css">
</head>
<body>
<div id="container">
  <header th:replace="/fragments/header :: header"/>
  <main id="main">
    <nav th:replace="/fragments/nav :: nav"/>
    <div class="admin">
      <h1 class="admin-title">ADMIN PRODUCT REGISTRATION</h1>
      <div class="admin-container">
        <aside class="admin-menus">
            <a href="/admin/products">상품 조회</a>
            <a href="/admin/product/addition">상품 등록</a>
            <a href="/admin/systems">시스템 정보</a>
            <a href="/logout">로그아웃</a>
        </aside>
        <section class="admin-main">
          <div class="admin-product-data">
            <label for="product-select">상품선택</label>
            <select id="product-select" class="product-select">
            </select>
            <br>
            <br>
            <label for="product-size">사이즈</label>
            <select id="product-size" class="product-size">
            </select>
            <br>
            <br>
            <label for="product-color">색상</label>
            <input type="text" id="product-color" class="product-color">
            <br>
            <br>
            <label for="product-stock">수량</label>
            <input type="number" id="product-stock" class="product-stock">
          </div>
          <br>
          <br>
          <br>
          <button class="btn2 regist-button">추가</button>
          <br>
          <br>
          <br>
          <br>
              <hr>
          <br>
          <br>
          <br>
          <form enctype="multipart/form-data">
              <input type="file" class="files-input" name="files" multiple>
          </form>
          <button class="btn2 regist-button img-add-button">사진등록</button>
          <ul class="file-list">
              
          </ul>
          <button class="btn2 regist-button upload-button">사진저장</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div></div>
      </section>
      </div>
    </div>
  </main>
</div>
<script src="/static/js/admin/product_dtl_registration.js"></script>
</body>
</html>