#content {
    width: 80%;
    float: right;
}

.titleArea h2{
    display: inline-block;
    color: #000;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
}

h3 {
    padding: 50px 0 10px;
    font-size: 16px;
    color:#2e2e2e;
}

input, select, textarea {
    font-size: 100%;
    font-family: "돋움",Dotum;
    color: #353535;
    vertical-align: middle;
}

select {
    height: 24px;
    border: 1px solid #d5d5d5;
}

input[type=text], input[type=password]{
    height: 18px;
    line-height: 20px;
    padding: 2px 4px;
    border: 1px solid #d5d5d5;
    color: #353535;
    font-size: 12px;
}

table{
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td{
    border: 0;
}

#mobile1  {
    width: 60px;
    margin: 0 4px 0 0;
}

#mobile2, #mobile3  {
    width: 50px;
    margin: 0 4px;
}

.ec-base-table table {
    position: relative;
    margin: 10px 0 0;
    border-bottom: 1px solid #d7d5d5;
    border-top: 0;
    color: #fff;
    line-height: 1.5;
}

.ec-base-table th:first-child {
    border-left: 0;
}

.ec-base-table th{
    word-break: break-all;
    word-wrap: break-word;
}

.ec-base-table tbody th{
    padding: 11px 0 10px 18px;
    border: 1px solid #dfdfdf;
    border-bottom-width: 0;
    color: #353535;
    text-align: left;
    font-weight: normal;
    background-color: #fbfafa;
}

.ec-base-table.typeWrite td{
    padding: 8px 0 10px 7px;
}

.ec-base-table td{
    border-top: 1px solid #dfdfdf;
    color: #353535;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: brea-word;
}

.ec-base-button {
    padding: 10px 0;
    text-align: center;
}

.ec-base-button .btnSubmit{
    width: 120px;
    padding: 10px 16px;
    word-break: keep-all;
    word-wrap: break-word;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 0px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #2e2e2e;
    border: 1px solid #d7d5d5;
}