@charset "utf-8";
#contents{
    width: 80%;
    float: right;
}

.order-state {
  margin: 20px 0 0;
  border: 1px solid #777;
}
.title{
  display: block;
  padding: 11px 21px;
  margin: 0;
  border-bottom: 1px solid #e9e9e9;
  background: #f6f6f6
}
.desc {
  padding: 0 0 0 4px;
    font-weight: normal;
    font-size: 11px;
    color: #8f8f8f;
}
em {
  color: #222;
  font-style: normal;
}
.state {
  overflow: hidden;
    padding: 19px 0;
}

li {
  display: list-item;
}
.order-state .order {
  float: left;
  width: 70%;
}
.order-state .order li {
  float: left;
  width: 25%;
  padding: 0 0 4px;
  margin: 0 -1px 0 0;
  border-right: 1px dotted #c9c7ca;
  text-align: center;
}

.order-state .cs {
  float: left;
  width: 20%;
  position: relative;
  left: 30px;
  font-size: 12px;
}
.state ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.order-state .order .count {
  font-weight: bold;
  font-size: 24px;
  color: #222;
}

.order-state .order li strong {
  display: block;
  margin: 2px 0 7px;
  font-size: 14px;
  color: #353535;
}


.title-area {
    min-height: 30px;
    margin: 40px 0 20px;
    border-bottom: 0px solid #e8e8e8;
}

.myShop-subtitle {
    display: inline-block;
    color: #000;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1.0px;
}
