<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>order</title>

  <link rel="stylesheet" href="/src/main/resources/static/css/reset.css">
  <link rel="stylesheet" href="/src/main/resources/static/css/main.css">
  <link rel="stylesheet" href="/src/main/resources/static/css/order.css">
  
</head>
<body>
<div id="container">
  <header id="header">
    <div class="header-top">
      <div class="logo">
        <a href="/"><img src="/static/images/site_logo.jpg" alt="logo" srcset=""></a>
      </div>
      <div class="customer-menu">
        <ul>
          <li><a href="/member/login">LOGIN</a></li>
          <li><a href="/member/join">JOIN</a></li>
          <li><a href="#">CART - 0</a></li>
          <li><a href="#">ORDER</a></li>
          <li><a href="#">MYSHOP</a></li>
          <li class="search"><a href="#"><i class="fa-solid fa-search"></i></a></li>
        </ul>
      </div>
    </div>
  </header>
  <main id="main">
    <nav class="side-bar">
      <div class="nav-01">
        <ul>
          <li><a href="#">NEW 5%</a></li>
          <li><a href="#">SET UP</a></li>
          <li><a href="#">OUTER</a></li>
          <li><a href="#">TOP</a></li>
          <li><a href="#">SHIRT</a></li>
          <li><a href="#">BOTTOMS</a></li>
          <li><a href="#">SHOES</a></li>
          <li><a href="#">ACC</a></li>
        </ul>
      </div>
      <div class="nav-02">
        <ul>
          <li><a href="#">NOTICE</a></li>
          <li><a href="#">Q & A</a></li>
          <li><a href="#">REVIEW</a></li>
        </ul>
      </div>
      <div class="sns-btn">
        <ul>
          <li><a href="https://instagram.com/connmk" target="_blank"><i
                  class="fa-brands fa-instagram"></i><span>INSTAGRAM</span></a></li>
          <li><a href="https://www.facebook.com/containermarket.co.kr" target="_blank"><i
                  class="fa-brands fa-facebook-f"></i><span>FACEBOOK</span></a></li>
        </ul>
      </div>
      <div class="kakao_btn"><a href="#none"
                                onclick="popWin=window.open('https://pf.kakao.com/_UnGss','windows','width=600,height=670,scrollbars=yes'); popWin.focus(); return false;"
                                class="kakao"><img src="/static/images/kakao_btn.png"></a></div>
    </nav>
    <div id="contents">
        <div class="title-area">
          <h2>주문조회</h2>
        </div>
        <div class="xans-element- xans-myshop xans-myshop-orderhistorylistitem ec-base-table typeList">
            <div class="title">
                <h3>주문 상품 정보</h3>
            </div>
            <table border="1" summary>
                <caption>주문 상품 정보</caption>
                <colgroup>
                    <col style="width: 135px;">
                    <col style="width: 93px;">
                    <col style="width: auto;">
                    <col style="width: 61px;">
                    <col style="width: 111px;">
                    <col style="width: 111px;">
                    <col style="width: 111px;">
                </colgroup>
                <thead>
                    <th scope="col">주문일자<br>[주문번호]</th>
                    <th scope="col">이미지</th>
                    <th scope="col">상품정보</th>
                    <th scope="col">수량</th>
                    <th scope="col">상품구매금액</th>
                    <th scope="col">주문처리상태</th>
                    <th scope="col">취소/교환/반품</th>
                </thead>
            </table>
            <p class="message">주문 내역이 없습니다.</p>
        </div>
        <div class="btn">
            <a href="#" class="first"><img src="//img.echosting.cafe24.com/skin/base/common/btn_page_first.gif" alt="첫 페이지"></a>
            <a href="#" ><img src="//img.echosting.cafe24.com/skin/base/common/btn_page_prev.gif" alt="이전 페이지"></a>
            <ol>
                <li class="btn-record">
                    <a href="#" class="this">1</a>
                </li>
            </ol>
            <a href="#"><img src="//img.echosting.cafe24.com/skin/base/common/btn_page_next.gif" alt="다음 페이지"></a>
            <a href="#" class="last"><img src="//img.echosting.cafe24.com/skin/base/common/btn_page_last.gif" alt="마지막 페이지"></a>
            

        </div>

      </form>
    </div>
  </main>
  <footer></footer>


</div>
</body>
</html>