
.regist-header {
    margin-bottom: 15px;
    position: relative;
    left: 10%;
}

@keyframes visible {
    from {
        height: 0px;
    }
    to {
        height: 200px;
    }
}

@keyframes invisible {
    from {
        height: 200px;
    }
    to {
        height: 0px;
    }
}

.regist-info {
    margin-bottom: 15px;

    height: 200px;
    animation: visible 0.2s linear alternate;
}

input[type="text"], input[type="number"] {
    height: 36px;
    width: 30%;
}

input[type="number"] {
    text-align: right;
}
textarea {
    height: 100%;
    width: 45%;
    resize: none;
    overflow-y: auto;
}

.regist-info-invisible {
    display: none;
}

.regist-button {
    width: 50%;
    height: 40px;
    color: white;
    background-color: black;
    position: relative;
    left:20%;
}

